@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.cdnfonts.com/css/nimbus-sans-l');
@media only screen and (max-width: 1200px) {
    #project-gallery {
        position: unset!important;
        top: unset!important;
        left: unset!important;
        transform: unset!important;
        max-width: unset!important;
        margin-bottom: 1em!important;
    }

    main {
        margin-top: 9em;
    }

    #project-title {
        position: unset!important;
        top: unset!important;
    }

    #project-text, #about-main {
        margin: 3em 0 8em 0!important;
    }
}

.project-row:hover, .project-floating:hover {
    filter: blur(1px);
}

.navlink-ctn:hover, #name:hover {
    filter: blur(2px);
}


#project-title {
    position: sticky;
    top: 3em;
}

#project-gallery {
    margin-bottom: 8em;
}

#project-text, #about-main {
    margin: 3em 1em 8em 1em
}

#project-gallery {
    position: absolute;
    top: 20vh;
    /*left: calc(75ch + 50%);*/
    right: 3vw;
    /*transform: translate(-90%, 0%);*/
    width: 100%;
    max-width: 47vw;
}

#project-gallery img, #project-gallery .project-embed {
    padding-bottom: 0.5em;
}

.project-embed {
    width: 100%;
}

.project-title-mobile {
    margin-bottom: 1em;
}

#about-text, #about-tables, #project-text {
    max-width: 70ch;
}

.title {
    font-weight: bold;
}

body {
    color: white;
    background-color: #cccccc;
    font-family: "Nimbus Sans L", Helvetica, sans-serif;
}

.project-floating {
    position: absolute;
    max-width: 15%;
    z-index: 1;
}

.App {
    margin: 2%;
}

nav {
    font-size: 2em;
    position: fixed;
    top: 2%;
    right: 2%;
    text-align: right;
    background-color: white;
    display: contents;
}

.navlink-ctn {
    position: fixed;
    right: 2%;
    z-index: 100;
}

#projects-navlink-ctn {
    top: 2%
}

#about-navlink-ctn {
    top: calc(2em + 2%)
}

.navlink:link, .navlink:visited {
    text-decoration: none;
    color: white;
}

#name {
    font-size: 2.5em;
    z-index: 0;
    position: fixed;
    text-decoration: none;
    text-align: center;
    color: white;
}

.mb-3em {
    margin-bottom: 3em;
}

.mb-2em {
    margin-bottom: 2em;
}

.mb-1em {
    margin-bottom: 1em;
}

.inverted {
    mix-blend-mode: difference;
}

.body-animate {
    animation: mymove 1s;
    animation-fill-mode: forwards;
}

.name-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.name-corner {
    right: 2%;
    bottom: 3%;
    transform-origin: bottom;
}

.name-bottom-center {
    bottom: 2%;
    transform-origin: bottom;
    width: 100vw;
    left: 0;
}

@keyframes mymove {
    from {background-color: white;}
    to {background-color: initial;}
}

#preview {
    position: fixed;
    z-index: -1;
    max-width: 90%;
}

.preview-fixed {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.preview-random {

}

#projects {
    max-width: 70ch;
    border-spacing: 1em;
}

#random {
    all: unset;
    position: fixed;
    right: 2%;
    top: 2%;
    cursor: pointer;
    font-size: 2em;
    text-align: right;
}

#table {
    top: 2%;
    left: 2%;
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
